@font-face {
  font-family: "RethinkSans";
  src:
    local("RethinkSans"),
    url("./../font/RethinkSans-Regular.ttf") format("TrueType");
}

*{
    margin: 0;
    padding: 0;
    font-family: "RethinkSans";
}

body{
    background-color: rgba(223, 248, 255, 0.634);
}

header{
    height: 10vh;

    h1{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
nav{
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    form{
        height: 50%;
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .film-input{
            height: 75%;
            width: 50%;

            border-radius: 5px;
            border: solid 2px rgb(204, 227, 234, 0.634);
            
            padding-left: 10px;
        }
        .film-input::placeholder{
            color: rgb(158, 175, 181);
        }

        .film-button{
            background-color: transparent;
            border: none;
        }
    }
}

@for $i from 1 through 3 {
    #section-#{$i} {
        height: auto;
    }
}

@for $i from 1 through 3 {
    #h2-#{$i} {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}